.head {
  background-color: #3b343b;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  h1 {
    color: white;
  }
}

.section {
  display: flex;
  justify-content: space-between;
  .sec-part1 {
    width: 35rem;
    margin-left: 50px;
    .part-1 {
      display: flex;
      justify-content: space-around;

      img {
        width: 200px;
        margin-right: 15px;
      }
      p {
        margin: 0;
        a {
          color: red;
        }
      }
    }
  }

  .sec-part2 {
    margin-right: 200px;
    ul {
      li {
        a {
          color: red;
        }
      }
    }
  }
}
